In [1]:
# import libraries
import numpy as np
import pandas as pd
from scipy.integrate import odeint
import matplotlib.pyplot as plt

Matplotlib is building the font cache; this may take a moment.

In [10]:
# Load dataset
data = pd.read_csv('processed_rvf_data.csv')
data.head()

,province,district,division,Year,month,avg_rainfall,avg_humidity,total_cases
0,CENTRAL,KIAMBU,GITHUNGURI,1981,April,1.593538,68.860373,0
1,CENTRAL,KIAMBU,GITHUNGURI,1981,August,0.137449,68.860373,0
2,CENTRAL,KIAMBU,GITHUNGURI,1981,July,0.557422,68.860373,0
3,CENTRAL,KIAMBU,GITHUNGURI,1981,March,1.465576,68.860373,0
4,CENTRAL,KIAMBU,GITHUNGURI,1981,May,0.586008,68.860373,0

In [7]:
# Extract environmental factors
rainfall = data['rainfall'].values
humidity = data['humidity'].values
rainfall[:5]

array([-0.42497622,  2.00447927, -0.36554408,  0.16233201,  0.18681905])